<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do-List</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div class="box">
        <% for(let i=0;i<listTask.length;i++){%>
        <div class="item">
            <input type="checkbox">
            <p><%= listTask[i] %></p>
        </div>
        <%}%>

        <form method="post" class="item" action="/">
            <input type="text" placeholder="Enter your task" name="task" autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>
    </div>
   
    
    
</body>
</html>